@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(govukErrorSummary: GovukErrorSummary)

@(errors: Seq[FormError], errorFieldName: Option[String] = None)(implicit messages: Messages)

@if(errors.nonEmpty) {
    @defining(errors.map { error =>
        ErrorLink(
            href = Some(s"#${errorFieldName.getOrElse(error.key)}"),
            content = Text(messages(error.message, error.args:_*))
        )
    }) { errorLinks =>
        @govukErrorSummary(ErrorSummary(
            errorList = errorLinks,
            title = Text(messages("error.summary.title"))
        ))
    }
}