$govuk-assets-path: "/declare-commercial-goods/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/declare-commercial-goods/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";
@import "autocomplete";
@import "language-selection";

.govuk-fieldset__legend--xl {
  margin-top: 0;
}

.govuk-summary-list__row--noaction:after {
content: "";
display: table-cell;
border-bottom: 1px solid #b1b4b6;
}

@media print {
  /* styles go here */
  .govuk-panel--confirmation {
    color: black;
    background: transparent;
    h1 {
      font-weight: bold;
    }
  }

  .govuk-phase-banner, .lang, .govuk-footer{
    display: none;
  }
}
