// Language switcher
.lang {

  display: inline-block;
  float: right;
  font-family: "GDS Transport", arial, sans-serif;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  color: #0b0c0c;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  ul {
    float: right;
    font-size: 0.8em;
    margin-top: 1em;
    text-align: right;

    // seems we need to be specific with the fonts here
    li {
      display: inline-block;
      font-family: "GDS Transport", Arial, sans-serif;
      font-size: 16px;

      &:first-child::after {
        content: "|";
      }
    }

    a,
    [aria-current] {
      padding: 0.25em;
    }
  }
}
