@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.html.components
@import uk.gov.hmrc.merchandiseinbaggagefrontend.controllers.routes._

@this(
layout: Layout,
formHelper: FormWithCSRF,
errorSummary: components.errorSummary,
h1: components.h1,
inputYesNo: components.inputYesNo,
button: components.button
)

@(form: Form[_])(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@layout(pageTitle = Some(messages("exciseAndRestrictedGoods.title"))) {
    @formHelper(action = ExciseAndRestrictedGoodsController.onSubmit(), 'autoComplete -> "off", 'novalidate -> "novalidate") {

        @errorSummary(form.errors)

        @h1("exciseAndRestrictedGoods.heading")

        <p class="govuk-hint">
            @messages("exciseAndRestrictedGoods.hint")
            <a href="@messages("exciseAndRestrictedGoods.hint.href")" class="govuk-link">
                @messages("exciseAndRestrictedGoods.hint.a")
            </a>
        </p>

        @inputYesNo(
            form = form,
            legend = messages("exciseAndRestrictedGoods.heading"),
            legendAsHeading = false,
            classes = "govuk-visually-hidden",
        )

        @button("site.continue")
    }
}
